{% extends 'index.html' %}
{% block pages %}
    {% load static %}
    <div id="main" style="width: 700px;height:400px;"></div>
    {#    <div id="main1" style="width: 700px;height:400px;"></div>#}
    <div class="right-container" style="width: 60%; left: 40%;">
        <div id="chart-panel" class="right-panel" _echarts_instance_="ec_1569375380665"
             style="-webkit-tap-highlight-color: transparent; user-select: none;">
            <div style="position: relative; overflow: hidden; width: 1132px; height: 291px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                <canvas data-zr-dom-id="zr_0" width="1132" height="291"
                        style="position: absolute; left: 0px; top: 0px; width: 1132px; height: 291px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                <canvas data-zr-dom-id="zr_1" width="1132" height="291"
                        style="position: absolute; left: 0px; top: 0px; width: 1132px; height: 291px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                <canvas data-zr-dom-id="zr_2" width="1132" height="291"
                        style="position: absolute; left: 0px; top: 0px; width: 1132px; height: 291px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
            </div>
            <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px/21px &quot;Microsoft YaHei&quot;; padding: 5px; left: 784px; top: 552px; pointer-events: none;">
                <span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#ddb926;"></span>莱西:
                21
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'bootstrap/echar/echarts.min.js' %}"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '堆叠区域图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '直接访问',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '搜索引擎',
                    type: 'line',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    areaStyle: {normal: {}},
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script src="{% static 'bootstrap/echar/echarts.min.js' %}"></script>
    <script src="{% static 'bootstrap/echar/china.js' %}"></script>
    <script>
        if (window !== top) {
            var nav = document.getElementsByClassName('navbar')[0];
            nav.parentNode.removeChild(nav);
            document.getElementById('main-container').style.top = 0;
        }
    </script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/echar/china.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/echar/world.js' %}"></script>
{#    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&amp;ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&amp;__ec_v__=20190126"></script>#}
{#    <script type="text/javascript" src="https://api.map.baidu.com/getscript?v=2.0&amp;ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&amp;services=&amp;t=20190622163250"></script>#}

{% endblock %}